# ignore temporary folder (with generated allure results)
**/tmp

# ignore python and putest cache
**/__pycache__
**/.pytest_cache

# ignore Idea files
**/.idea

# ignore venv
**/venv

# ignore logs
*.log

src/DriverManager/src/webdriver/chrome
src/DriverManager/src/webdriver/firefox